<script setup lang="ts">
import { fetchOptions } from '~/helpers';
import { KanyeWestQuote } from '~/types';

const config = useRuntimeConfig();
const { data, refresh } = useFetch<KanyeWestQuote>('/', fetchOptions(config));

const image = ref({
  url: '/assets/kanye-emerging-from-nebula.png',
  alt: 'Kanye West'
});
</script>

<template>
  <BaseContainer class="flex min-h-screen flex-col items-center justify-center py-8">
    <p class="select-none text-center font-mono text-xl text-dark">Words by West</p>
    <GlobalQuoteCard :quote="data?.quote ?? ''" :image="image" class="mt-4" @refresh-quote="refresh()" />
  </BaseContainer>
</template>
