<script setup lang="ts">
withDefaults(
  defineProps<{
    withArrowSuffix?: boolean;
  }>(),
  {
    withArrowSuffix: false
  }
);
</script>

<template>
  <button class="group relative transform rounded-sm px-2 py-1 duration-200 ease-out">
    <span class="flex items-center justify-center gap-x-2 font-mono font-extralight text-dark">
      <slot v-if="$slots.default" />
      <span class="translate-x-0 transform duration-200 group-hover:translate-x-2">
        <GlobalIconArrowRight v-if="withArrowSuffix" />
      </span>
    </span>
  </button>
</template>
