<script setup lang="ts">
const emit = defineEmits(['refreshQuote']);

defineProps<{
  quote: string;
  image: {
    url: string;
    alt?: string;
  };
}>();
</script>
<template>
  <BaseCard class="overflow-hidden">
    <div class="grid grid-cols-1 gap-y-4 sm:grid-cols-2">
      <figure v-if="image.url" class="relative h-full w-full select-none">
        <span class="absolute top-0 right-0 h-[inherit] w-1/2 bg-gradient-to-l from-dark"></span>
        <img :src="image.url" :alt="image.alt" class="h-full w-full object-cover" />
      </figure>
      <div class="flex flex-col items-start justify-center gap-y-10 p-6 font-mono sm:p-10">
        <h1 class="bg-select text-left font-mono text-3xl font-thin text-dark sm:text-4xl">
          {{ quote ? `"${quote}"` : 'Kanye is out of wisdom at the moment, please come back another time.' }}
        </h1>
        <GlobalButton v-if="quote" with-arrow-suffix @click="emit('refreshQuote')">Get more Kanye</GlobalButton>
      </div>
    </div>
  </BaseCard>
</template>

<style scoped>
.bg-select::selection {
  @apply bg-dark text-neutral;
}
</style>
